* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.boards {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

input,
button {
    font-family: "Montserrat", sans-serif;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
}

.links {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: opacity 1s;
}

.links:hover {
    text-decoration: underline;
}

.main-img {
    background-image: url('./img/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.header-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 76px;
    width: 100%;
    position: relative;
}

.header::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.5px;
    background-color: rgba(255, 255, 255, 0.8);
}

.header__logo {
    margin-right: auto;
}

.header__input {
    width: 288px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    line-height: 19.5px;
    color: #FFFFFF;
    box-sizing: border-box;
    padding: 10px 32px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.header__input::placeholder {
    color: #FFFFFF;
}

.header__nav {
    display: flex;
    gap: 32px;
    margin-left: auto;
}

.header__nav-link {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 19.5px;
    color: white;
}

.header__nav-mobile {
    display: none;
}

.promo {
    padding: 64px 0 367px; 
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
}

.promo__title {
    font-size: 64px;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 1);
}

.promo-catalog__title {
  font-size: 64px;
  line-height: 70px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  padding: 127px 0 126px;
}

.promo__subtitle {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    margin-bottom: 16px;
    color: rgba(255, 255, 255, 1);
}

.promo__button {
    color: white;
    text-decoration-line: underline;
}

.furniture__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 64px;
}

.furniture__items {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(12, 1fr);
}

.furniture__item {
    grid-column: span 4;
    height: 415px;
    color: rgba(255, 255, 255, 1);
    font-size: 34px;
    font-weight: 600;
    line-height: 41px;
    font-style: normal;
    display: flex;
    align-items: center;
    justify-content: center;
}

.furniture__item_big {
    grid-column: span 6;
}

.furniture__item_1 {
    background-image: url('img/relax.jpg');
}

.furniture__item_2 {
    background-image: url('./img/works.jpg');
}

.furniture__item_3 {
    background-image: url('./img/kitchens.jpg');
}

.furniture__item_4 {
    background-image: url('./img/littleRoom.jpg');
}

.furniture__item_5 {
    background-image: url('./img/bath.jpg');
}

.special__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 59px;
    color: #000000;
    margin-bottom: 32px;
    margin-top: 64px;
}

.product { 
    flex-wrap: wrap;
    display: flex;
    justify-content: flex-start;
}

.product__img {
    margin-bottom: 10px;
    display: block;
    width: 100%;
}

.product__name {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: black;
    margin-bottom: 9px;
}

.product__desc {
    font-size: 14px;
    color: #888888;
    margin-bottom: 12px;
    flex-grow: 1
}

.product__price-line {
    display: flex;
    gap: 32px;
}

.product__price {
    font-weight: 500;
    font-size: 24px;
    color: #050505;
    display: flex;
    gap: 32px;
}

.product__price-old {
    font-weight: 500;
    font-size: 24px;
    text-decoration-line: line-through;
    color: #888888;
}

.catalog {
    justify-content: center;
}

.catalog__title { 
    font-weight: 600;
    font-size: 48px;
    color: #000000;
    line-height: 29px;
    margin-bottom: 32px;
    margin-top: 64px;
}

.special__content { 
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: flex-start;
}

.catalog__content { 
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    row-gap: 48px;
    justify-content: flex-start;
}

.catalog__button { 
    display: inline-block;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 31px;
    margin-bottom: 64px;
}

.footer {
    background: rgba(247, 246, 246, 1);
    width: 100%;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 40px; 
    padding: 32px 20px 59px;
    align-items: flex-start;
}

.footer__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    line-height: 17px;
    font-weight: 500;
}

.footer__menu-main {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer__icons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.subscribe {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.subscribe__text {
    line-height: 16px;
    color: rgba(0, 0, 0, 1);
    font-size: 12px;
}

.subscribe__input {
    width: 288px;
    border-radius: 20px;
    border: 1px solid rgb(196, 196, 196, 1);
    background-color: transparent;
    outline: none;
    font-size: 16px;
    line-height: 19.5px;
    color: #000000;
    box-sizing: border-box;
    padding: 11px ;
}

.subscribe__button {
    width: 288px;
    border-radius: 16px;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    line-height: 19.5px;
    box-sizing: border-box;
    padding: 11px;
    border-radius: 16px;
    background: rgba(222, 215, 215, 0.41);
    border: rgba(222, 215, 215, 0.41);
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.subscribe__button:hover {
    color: rgb(255, 255, 255);
    background-color: #000000;
    transform: translateY(-2px);
}

.button {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #888888;
    text-decoration: none;
    color: rgba(136, 136, 136, 1);
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}

@import 'cart';
@import 'catalog';
@import 'mobile';